.container {
    margin-bottom: 30px;
}

.col-xs {
    border: 1px solid #fff;
    background-color: #006eff;
}

.col-xs-empty {
    border: 1px solid #fff;
    height: 30px;
    background-color: #006eff;
}

.col-xs p {
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

.row-nested {
    padding: 10px;
}

.col-xs-nested {
    background-color: #00e552;
}

.col-xs-nested p {
    border: 1px solid #006eff;
    padding: 10px 0;
}

